<mat-toolbar color="primary">
    <span>File</span>
    <span class="example-spacer"></span>

    <span>Edit</span>
    <span class="example-spacer"></span>

    <span>View</span>
    <span class="example-spacer"></span>

    <span>Solver</span>
    <span class="example-spacer"></span>

    <span>Optimization Problems</span>
    <span class="example-spacer"></span>

    <span>Supply Chain Management</span>
    <span class="example-spacer"></span>

    <span>Transportation</span>
    <span class="example-spacer"></span>

    <span>Configuration</span>
    <span class="example-spacer"></span>

    <span>About</span>
    <span class="example-spacer"></span>

    <span>Help</span>
    <span class="example-spacer"></span>

  </mat-toolbar>
  