<div fxLayout="row">
    <mat-card
      class="example-card inline-block"
      fxFlexAlign="stretch"
      style="margin: 15px"
    >
      <mat-card-header>
        <mat-card-title>NEW SCM GRAPH FILE</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/newFile.png" alt="Photo of bad roads" />
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/file'">
            NEW SCM GRAPH FILE
        </button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card
      class="example-card inline-block"
      fxFlexAlign="stretch"
      style="margin: 15px"
    >
      <mat-card-header>
        <mat-card-title>NEW GENERIC GRAPH FILE </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/generic.png" alt="Photo of bad roads" />
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/file'">
          NEW GENERIC GRAPH FILE
        </button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card
      class="example-card inline-block"
      fxFlexAlign="stretch"
      style="margin: 15px"
    >
      <mat-card-header>
        <mat-card-title>OPEN GRAPH FILE</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/open.jpg" alt="Photo of bad roads" />
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/file'">
          HELP
        </button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card
      class="example-card inline-block"
      fxFlexAlign="stretch"
      style="margin: 15px"
    >
      <mat-card-header>
        <mat-card-title>SAVE GRAPH FILE</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/save.png" alt="Photo of bad roads" />
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/file'">
          SAVE
        </button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card
      class="example-card inline-block"
      fxFlexAlign="stretch"
      style="margin: 15px"
    >
      <mat-card-header>
        <mat-card-title>SAVE GRAPH FILE AS</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/download.jfif" alt="Photo of bad roads" />
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/file'">
          SAVE GRAPH FILE AS....
        </button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card
      class="example-card inline-block"
      fxFlexAlign="stretch"
      style="margin: 15px"
    >
      <mat-card-header>
        <mat-card-title> CLOSE FILE</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/close.jfif" alt="Photo of bad roads" />
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/file'">
          CLOSE FILE
        </button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card
      class="example-card inline-block"
      fxFlexAlign="stretch"
      style="margin: 15px"
    >
      <mat-card-header>
        <mat-card-title> TEST SCM </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/scm.jfif" alt="Photo of bad roads" />
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/file'">
          TEST SCM
        </button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card
      class="example-card inline-block"
      fxFlexAlign="stretch"
      style="margin: 15px"
    >
      <mat-card-header>
        <mat-card-title> LOAD XML FILE </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/xml.png" alt="Photo of bad roads" />
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/file'">
          LOAD XML FILE
        </button>
      </mat-card-actions>
    </mat-card>
  
    
  </div>
  