.example-card {
    width: 225px;
    height: 225px;
  }

  img {
    width:  200px;
    height: 200px;
    object-fit: cover;
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    width:  400px;
    height: 400px;
  }

  .inline-block {
    display: inline-block;
  }