<p>contraint-manager</p>

<div class="search">
  <form class="example" action="/action_page.php">
    <input type="text" placeholder="min/max" name="search">
    <button type="submit">ce</button>
  </form>
</div>

<div class="row">
  <div class="column parameter-name">
    <h3>Parameter Names</h3>
    <div class="vertical-menu">
      <a href="#" class="active">Parameter Names</a>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 4</a>
      <a href="#">Link 5</a>
      <a href="#">Link 6</a>
      <a href="#">Link 7</a>
      <a href="#">Link 8</a>
      <a href="#">Link 9</a>
      <a href="#">Link 10</a>
    </div>
  </div>
  <div class="column">
    <h2>right panel</h2>
    <div class="box">
    </div>
    <div class="numberOfContraints">
      <p style="margin-left: 10px"> Number of constraint</p><input type="text" name="search" style="height: 40px; margin-left: 10px; margin-bottom: 10px"> <button type="submit" style="height: 40px; margin-left: 5px">Generate Random Co..</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="button-column">
    <button type="submit">Modify</button>
  </div>
  <div class="button-column">
    <button type="submit">Modify</button>
  </div>
  <div class="button-column">
    <button type="submit">Modify</button>
  </div>
</div>





