.italics{
    font-style: italic;
    font-size: 18px;
    margin: 10px;
    padding: 2px;
    color: black;
}

.example-card {
    max-width: 100%;
  }
  
  .example-header-image {
    background-image: url('../../assets/graph.png');
    background-size: cover;
  }

  #center {  
    /* display: flex;
    justify-content: center; */

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}  

.align-button{
    float: right;
}

  