<div fxLayout="row">
    <mat-card
      class="example-card inline-block"
      fxFlexAlign="stretch"
      style="margin: 15px"
    >
      <mat-card-header>
        <mat-card-title>CPLEX</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/ciplex.png" alt="Photo of bad roads" />
      <mat-card-content>
        <p>
            Produce precise and logical decisions for planning and resource allocation problems using the powerful algorithms of IBM ILOG CPLEX Optimizer. Take advantage of a distributed parallel algorithm for mixed integer programming and flexible, high-performance 
            mathematical programming solvers for linear programming, mixed integer programming, and more.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/file'">
          USE CIPLEX OPTIMIZER
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card
      class="example-card inline-block"
      fxFlexAlign="stretch"
      style="margin: 15px"
    >
      <mat-card-header>
        <mat-card-title>QSopt Linear Programming solver</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/qsopt.jpg" alt="Photo of bad roads" />
      <mat-card-content>
        <p>
            The main purpose of the QSopt linear programming solver is to provide a callable function library for use within applications such as the traveling salesman problem or mixed-integer programming.
            It can also be used as a standalone code to solve large-scale linear programming problems.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/file'">
          QSopt
        </button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card
      class="example-card inline-block"
      fxFlexAlign="stretch"
      style="margin: 15px"
    >
      <mat-card-header>
        <mat-card-title>Gurobi Optimizer</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/gurobi.png" alt="Photo of bad roads" />
      <mat-card-content>
        <p>
            The fastest and most powerful mathematical programming solver available for your LP, QP and MIP (MILP, MIQP, and MIQCP) problems. See why so many companies 
            are choosing Gurobi for better performance, faster development and better support.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/file'">
          TRY GUROBI
        </button>
      </mat-card-actions>
    </mat-card>
  
  </div>
  